.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin-left: 45px;
    float: left;
    font-family: arial;
    height: 320px;
    margin-top: 30px;
    box-sizing: border-box;
    text-align: center
  }
  
  .price {
    color: red;
    font-size: 15px;
  }
  
  .card1:hover {
    opacity: 0.9;
  }
 
  #list, #list1{
    width: 100%;
    height: auto;
}
@media only screen and (min-width: 768px) {
#list div, #list1 div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 400px;
margin-left: 45px;
float: left;
font-family: arial;
height: 320px;
margin-top: 32px;
margin-bottom: 120px;
box-sizing: border-box;
text-align: center
}

#list img, #list1 img {
    width: 250px;
    height: 200px;
    position: relative;
    cursor: pointer;
}

#list p, #list1 p{
    text-align: center;
    font-size: 15px;
    color: red
}
#detail, #detail1 {
  width: 40%;
  height: 400px;
  position: fixed;
  left: 30%;
  top: 25%;
  background-color: black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 2;
  color: white;
  opacity: 0.9;
}
#detail div, #detail1 div{
  width: 45%; height: 400px;
  float: left; margin: 1%;
}
#detail img, #detail1 img{
  width: 250px;
  height: 200px;
}
#i1 {
   background-color: white;
   color: black;
   font-size: 1.2em;
   border: none;
   width: 200px;
   height: 35px;
   text-align: center;
   opacity: 0.9;
   font-family: Adidas;
   cursor: pointer;
}

#i1:hover{background-color: crimson; color: white;}
.size {
  width: 10px;
   height: 10px;
}
}